<!doctype html>
<html>
	<head>
		<title>Singularity</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/landing.css">
	</head>
	<body>

	<div id="landing-header">
		<h1>Welcome to Singularity!</h1>
			<hr>
		<a href="/" class="btn btn-lg btn-outline-light">Get Started!</a>
	</div>

	
	<!-- <div class="jumbotron jumbotron-fluid">
		<h1 class="display-4 d-flex justify-content-center text-white">Test</h1>
	</div> -->


<% include ./partials/footer %>