<!doctype html>
<html>
	<head>
		<title>Singularity</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/landing.css">
	</head>
	<body>

	<div id="landing-header">
		<h1>Welcome to Singularity!</h1>
			<hr>
		<a href="/" class="btn btn-lg btn-outline-light">Get Started!</a>
	</div>

	
	<div class="container-fluid">
		<div class="row align-items-center px-0">
			<div  class="col-lg-6 text-center text-light">
				<h1 id="info_1_heading" class=" display-4">A Unique Social Networking Platform!</h1>
				<p>
					You are allowed to make a post on anything you desire....
					<p>
						however, you are allowed to make it just once a year!
					</p>
				</p>
			</div>
			<div class="col-lg-6 text-center">
				<img class="img-fluid" src="https://cdn3.iconfinder.com/data/icons/gray-toolbar/512/mail-512.png" alt="HD wallpaper">
			</div>
		</div>
	</div>


<% include ./partials/footer %>