<!doctype html>
<html>
	<head>
		<title>Singularity</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/landing.css">
	</head>
	<body>

	<div id="landing-header">
		<h1>Welcome to Singularity!</h1>
			<hr>
		<a href="/" class="btn btn-lg btn-outline-light" data-toggle="modal" data-target="#loginModal" >Get Started!</a>
	</div>

	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h5 class="modal-title ">
						Member Login
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row align-items-center justify-content-center">
						<div>
							<form action="/login" method="POST">
								<div class="form-group">
									<label class="text-dark lead" for="Username">Username</label>
									<input type="text" class="form-control" name="username" placeholder="Enter username">
								</div>
								<div class="form-group">
									<label class="text-dark lead" for="Password">Password</label>
									<input type="password" class="form-control" name="password" placeholder="Enter password">
								</div>
								<div class="form-group">
									<button class="btn btn-outline-dark">Login</button>
								</div>
								<small>Not a member? <span> <a href="">Sign up now!</a></span></small>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<div class="container-fluid px-0">
		<div class="row align-items-center section">
			<div  class="col-lg-6 text-center text-light">
				<div class="row justify-content-center">
					<div class="col-10 col-lg-8">
						<h1 class=" display-4 info_heading">A Unique Social Networking Platform!</h1>
						<p class="lead info_para">You are allowed to make a post on anything you desire . . . however, you are allowed to make it just once a year!</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 text-center">
				<img class="img-fluid" src="https://cdn3.iconfinder.com/data/icons/gray-toolbar/512/mail-512.png" alt="HD wallpaper">
			</div>
		</div>
	</div>

	<div class="container-fluid px-0">
		<div class="row align-items-center section">
			<div class="col-md-6 text-center order-2 order-md-1">
				<img class="img-fluid" src="https://www.krenerbookkeeping.com/wp-content/uploads/2017/07/grey-icon-clock.png" alt="">
			</div>
			<div class="col-md-6 text-light text-center order-1 order-md-2">
				<div class="row justify-content-center">
					<div class="col-10 col-lg-8">
						<h1 class="display-4 info_heading">Save Precious Time In Your Day!</h1>
						<p class="lead info_para">Too much of our time is spent on social media, the unique feature of Singularity should help with that . . . maybe.</p>
					</div>
				</div>
			</div>
		</div>
	</div>


<% include ./partials/footer %>