body {
	background-color: #000;
	max-width: 100%;
	overflow-x: hidden;
}

#landing-header {
	position: relative;
	text-align: center;
	margin: 20% auto;	
}

#landing-header h1 {
	color: white;
}

#landing-header hr {
	background-color: white;
	width: 30%;
}

#landing-header a {
	margin-top: 7px;
}

#info_1 {
	background-color: black;
}

#info_1_image {
	height: 100px;
	width: 100px;
}

@media (max-width: 1200px) {
	#info_1_heading {
		font-weight: 100; 
		font-size: 3rem
	}
}

@media (max-width: 600px) {
	#info_1_heading {
		font-weight: 100; 
		font-size: 1rem
	}
}
