body {
	background-color: #000;
	max-width: 100%;
	overflow-x: hidden;
}

#landing-header {
	position: relative;
	text-align: center;
	margin: 20% auto;	
}

#landing-header h1 {
	color: white;
}

#landing-header hr {
	background-color: white;
	width: 30%;
}

#landing-header a {
	margin-top: 7px;
}

.info_para {
	line-height: 2;
	font-size: 1.2rem
}

.section {
	margin-top: 100px;
}

@media (max-width: 1200px) {
	#info_heading {
		font-weight: 100; 
		font-size: 3rem
	}
}